/* styles/form.css */
.form-container {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container--expanded {
    width: 100%;
}

.form {
    display: none;
}

.form--active {
    display: block;
}

.form__title {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.form__group {
    margin-bottom: 15px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #555;
}

.form__link {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block; /* Hace que el enlace sea un bloque para permitir centrarlo */
    text-align: center; /* Centra el texto dentro del bloque */
    margin-top: 10px;
}

.form__link:hover {
    text-decoration: underline;
}

.toggle-link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}
